## Vim ##
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


## Project ##

*.userdb
*.bin
luna_pinyin.custom.*.dict.yaml
luna_pinyin.custom.*.*.dict.yaml
custom_phrase.txt
squirrel.yaml
default.yaml
symbols.yaml
installation.yaml
rm 'user.yaml'
user.yaml
