---
name: luna_pinyin.custom
version: "2022.05.17"
sort: by_weight
use_preset_vocabulary: true
import_tables:
    #- luna_pinyin.extended # include next 4 dict
    - luna_pinyin
    #- luna_pinyin.hanyu
    - luna_pinyin.poetry
    #- luna_pinyin.cn_en
    - xiandaihanyuchangyongcibiao
    - chengyusuyu
    - sijixingzhenquhuadimingciku
    - jisuanjicihuidaquan
    - wangluoliuxingxinci
    - kaifadashenzhuanyongciku
    - shanghaishichengshixinxijingxuan
    - zhongguolishicihuidaquan
    - shanghaihuadaquan
    - mingxing
    - emoji.apple
    - emoji.cldr
    - emoji.unicode-cldr
    - emoji.scomper
    - kaomoji
...

